/* ============ Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --header-height: 3.5rem;

    /* ========== Colors ========== */
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
    */

    --first-hue: 356;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;
    --first-color: hsl(var(--first-hue),var(--sat),var(--lig));
    --first-color-alt: hsl(var(--first-hue),var(--sat),71%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --text-color-white : #fff;
    --title-color : hsl(var(--second-hue),15% , 15%);
    --text-color : hsl(var(--second-hue),8% ,35%);
    --body-color : hsl(var(--second-hue),100% , 99%);
    --container-color : #fff;


    /* ========== Font & Typography ========== */
    --body-font : 'Poppins' , sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size : 1.5rem;
    --h2-font-size : 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-siza:.938rem;
    --small-font-size:.813rem;
    --smaller-font-size :.75rem;
    --tiny-font-size: .625rem;

    /* ========== Font weight ========== */
    --font-medium : 500;
    --font-semibold : 600;
    
    /* ============ Border ============*/

    --border: 1px solid rgb(226, 215, 215);
}

/* ============ BASE ========== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
button{
    font-family: var(--body-font) ;
    font-size: var(--normal-font-siza);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s ; /* for light mode animation */
}

h1,h2,h3{
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

img{
    height: auto;
    width: 100%;
}

/* ============ REUSABLE CSS CLASSES ============ */
.container{
    max-width: 1300px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}
.section-p{
    padding: 0 30px;
}
.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    color: var(--first-color);
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.section__subtitle{
    display: block;
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-bottom: 4rem ;
}
.button{
    background-color: var(--first-color);
    color: var(--text-color-white);
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ============ HEADER ============ */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 16px rgba(0,0,0,.2) ;
    height: var(--header-height);
    background-color: #e3e6f3;
    z-index: 10;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}
.header__logo{
    width: 110px;
}

/*  menu in large devices */

.nav__menu-desktop{
    visibility: hidden;
    opacity: 0;
    margin: 1rem auto ;
    
}
.nav__desktop{
    display: flex;
    /* column-gap: 3rem; */
  
}

.nav__menu-link{
    color: hsla(var(--second-hue),32% , 30% , .8);
    font-size: 1rem;
    font-weight: var(--font-medium);
    display: flex;
    padding: .5rem .25rem;
    margin-left: 1.5rem;
}

.nav__icon-desktop{
    visibility: hidden;
    opacity: 0;
}
.nav__icon-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link-icon{
    border: 1px solid #ccc7c7;
    width: 40px;
    height: 40px;
    border-radius: .5rem;
    padding: .75rem .5rem;
    display: flex;
    margin: 0 .75rem;
    align-items: center;
    
    
}

/* menu in small & medium devices */

/* hamburger_ menu */

.menu__container{
    background-color:  hsla(var(--second-hue),32% , 30% , 3.8);
    padding: 3rem 1.5rem 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 58%;
    width: 100%;
    transition: .4s;
    visibility: hidden;
    opacity: 0;
}

.menu__list{
    display: grid;
    row-gap: 1rem;
    position: relative;
}
.menu__link{
    color: var(--text-color-white);
    font-size: var(--h3-font-size);
}

.menu__icon-close{
    color: var(--text-color-white);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: var(--container-color);
    box-shadow: 0 0 16px rgba(0,0,0, .2);
    width: 90%;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    backdrop-filter: blur(10px);
    visibility: visible;
    opacity: 1;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.nav__item {
    position: relative;
}

.nav__item span{
    width: 15px;
    height: 15px;
    background-color: hsla(var(--second-hue),32% , 30% , .8);
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 1.15rem;
}
.nav__link{
    color: hsla(var(--second-hue),32% , 30% , .8);
    font-size: 1.25rem;
    font-weight: var(--font-medium);
    display: flex;
    padding: .5rem .5rem;
}

.nav__icon{
    position: fixed;
    right: 1.5rem;
    top: 1rem;
    font-size: 1.5rem;
}
.hamburger__button{
    color: var(--text-color);
}


/* ============ Hero ============= */
.hero__container{
    background-color: #e3e6f3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    padding: 0 1rem;
    margin-top: 3.5rem; 
    overflow: hidden;
}

.hero__info{
    width: 40%;
    position: relative;
}
.hero__img{
    width: 300px;
    height: 300px;
    position: absolute;
    right: -3.5rem;
    top:-5rem;   

}
.hero__data{
    line-height: 1.95rem;
}
.hero__data h2{
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}
.hero__data h1{
    color: var(--first-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}
.hero__data span{
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.hero__button{
    margin-top: 2rem;
}


/* ============ Feature ============ */
.feature__container{
    margin-top: 2rem;
}

.feature__data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.feature__card{
    border: var(--border);
    border-radius: 4px;
    transition: .4s;
}

.feature__card:hover{
    box-shadow: 5px 5px 24px rgba(70, 62, 221, 0.2);
}

.feature__img {
    width: 100%;
    padding: 1rem .5rem;
}

.feature__img img{
    width: 100%;
}

.feature__button{
    margin-bottom: 1.5rem;
    display: block;
    text-align: center;
}

.feature__link{
    background-color: #d1e8f2;
    font-weight: var(--font-medium);
    color: #088178;
    padding: .5rem .5rem;
    border-radius: .25rem;
    font-size: var(--smaller-font-size);
}

.feature__card:nth-child(2) .feature__link{
    background-color:#fddde4;
    color: #df6680;
}

.feature__card:nth-child(3) .feature__link{
    background-color:#cdebbc;
    color: #3f642a;
}

.feature__card:nth-child(4) .feature__link{
    background-color:#cdd4f8;
    color: #424e8f;
}

.feature__card:nth-child(5) .feature__link{
    background-color:#f6dbf6;
    color: #7c527c;
}

.feature__card:nth-child(6) .feature__link{
    background-color:#fff2e5;
    color: #7c5f41;
}

/* ============ Product ============ */

.product__data{
    display: grid;
    row-gap: 2.5rem;
    margin: 0 1.25rem;
}

.product__card{
    border: var(--border);
    border-radius: 1.5rem;
    padding: .75rem;
    transition: .4s;
}

.product__card:hover{
    box-shadow: 5px 5px 24px rgb(70 62 221 / 20%);
}

.product__img{
    border-radius: 1.5rem;
}

.product__info{
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.product__brand{
    font-size: var(--smaller-font-size);
}
.product__title{
    font-size: var(--small-font-size);
}

.product__details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__price{
    color: var(--title-color);
    font-weight: var(--font-medium);
    padding-top: .5rem;
    font-size: 1.25rem;
}

.product__link{
    /* background: linear-gradient(180deg, #2c3e50 , #bdc3c7); */
    background-color: #e3e6f3;
    color:var(--text-color);
    padding: .5rem.5rem;
    border-radius: 2rem;
    display: flex;
}
.product__link-icon{
    font-size: 1.25rem;
}

/* ============ Banner ============ */

.banner__container{
    margin-top: 5rem;
    background-image: url('/img/banner/b2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner__info h3,
.banner__info h1{
    color: var(--text-color-white);
    font-weight: var(--font-medium);
}

.banner__info h3{
    margin-bottom: 1.5rem;
}

.banner__info h1{
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

.banner__info h1 span{
    color: red;
}

.banner__button{
    font-size: var(--body-font);
    padding: 1rem 2rem;
    color: rgb(20, 19, 19);
    font-weight: var(--font-medium);
}

/* ============ Blog ============ */

.blog__data{
    display: grid;
    row-gap: 2.5rem;
    margin: 0 1.25rem;
}

.blog__card{
    border: var(--border);
    border-radius: 1.5rem;
    padding: .75rem;
    position: relative;
    transition: .4s;
}

.blog__card:hover{
    box-shadow: 5px 5px 24px rgb(70 62 221 / 20%);
}

.blog__img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.blog__title{
    font-size: .9rem;
    color: #2c3e50;
}

.blog__description{
    font-size: var(--small-font-size);
    padding: 1rem 2rem 1rem 0;
}

.blog__button{
    color: #2c3e50;
    font-weight: var(--font-medium);
    font-size: .8rem ;
    margin-bottom: 1.5rem;
    position: relative;

}

.blog__button::after{
    content: '';
    width: 40px;
    height: 2px;
    background-color: #2c3e50;
    position: absolute;
    transform: translate(.25rem ,.75rem);
}

.blog__date{
    position: absolute;
    top:-1rem;
    left: 1rem;
    font-size: 1.75rem;
    font-weight: var(--font-medium);
    color: #bdc3c7;
    z-index: -1;

}

/* ============ Small Banner ============ */
.sm-banner{
    margin-top: 3rem;
}
.banner_box1,
.banner_box2{
    background-image: url('/img/banner/b17.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2rem;
    color: var(--text-color-white);
}

.banner_box2{
    background-image: url('/img/banner/b10.jpg');
}

.sm-banner__title{
    font-weight: 300;
    font-size: 1.15rem;
    margin-bottom: .5rem;
}

.sm-banner__info{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: .25rem ;
}

.sm-banner-details{
    font-size: var(--small-font-size);
}
.sm-banner__button{
    display: inline-block;
    color: var(--text-color-white);
    background: transparent;
    border: 1px solid white;
    margin-top: .5rem;
    padding: .5rem .75rem;
    font-weight: 400;
    font-size: var(--small-font-size);
}


/* ============ News Letter ============ */

.news__container{
    background-color: #041e42;
    margin-top: 4rem;
    padding: 2rem 4rem;
    width: 100%;      
}

.news__title{
    color: var(--text-color-white);
    font-size: var(--h2-font-size);
    font-weight: 600;
    margin-bottom: .5rem;
}

.news__description{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: .5rem;
    font-weight: 600;
}
.news__description span{
    color: #ffbd27 ;
}
.news__form{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
}

.news__form .news__input{
    padding: 0 1.25rem;
    border-radius: 4px 0 0 4px;
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    height: 3.5rem;
    outline: none;
    border:  1px solid transparent;
    width: 100%;
}

.news__button{
    padding: 0 2rem;
    height: 3.5rem;
    font-size: var(--small-font-size);
    color: var(--text-color-white);
    background-color: #088178;
    white-space: nowrap;
    font-weight: 600;
    border-radius: 0 4px 4px 0;
    margin-left: -.5rem;
}

/* ============ Footer ============ */
.footer__container{
   margin: 2rem 2.5rem;
}
.footer__data{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo{
    width: 130px;
    padding-bottom: .75rem;
}

.footer__title{
    font-size: var(--smaller-font-size);
    padding-bottom: 1.25rem;
    color: #000;
}

.footer__list{
    padding-bottom: 1.5rem;
}

.footer__list p,
.footer__text{
    font-size: var(--smaller-font-size);
}

.follow__icon-list{
    padding: 0 0 1rem;
}

.follow__icon-list i{
    font-size: 1.15rem;
}

.footer__item a{
    font-size: var(--smaller-font-size);
    color: #222;
}

.footer__app-img{
    width: 180px;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}

.footer__app-img img{
    border: 1px solid var(--text-color);
    border-radius: .4rem;
}

.installapp__img{
   padding-top: 1rem; 
}

.footer__copy{
    text-align: center;
    width: 100%;
    font-size: .665rem;
    font-weight: 500;
}


/* ============ Responsive ============ */

/* For small devices */

@media screen and (max-width :400px){

    /* hero */
    .hero__data{
        z-index: 1;
    }

    .hero__img{
        width: 280px;
    }

    /* banners */
    .banner__info h1{
        padding: 0 .5rem;
    }

    .sm-banner__data{
        display: flex;
        flex-wrap: wrap;
    }

    .sm-banner__title{
        font-size: 1rem;
    }

    .sm-banner__info {
        font-size: 1.15rem;
    }
}

/* For medium devices */

 @media screen and (min-width: 450px){
    /* nav menu */
    .nav__menu{
        width: 400px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    /* hero */
    .hero__img{
        width: 350px;
        height: 400px;
        position: absolute;
        right: -4.5rem;
        top: -8rem;
    }
    
    /* feature */
    .feature__data{
        grid-template-columns: repeat(2,160px);
        justify-content: center;
        gap: 2rem;
        margin: 0 2rem;
    }

    /* product & blog */
    .product__card,
    .blog__card{
        width: 300px;
        margin: 0 auto;
    }

    /* newsletter */
    
    .news__form{
        width: 100%;
    }
}



@media screen and (min-width: 700px){
    /* header */
    .header{
        height: 4.5rem;
    }

    .nav{
        padding: 0 3.5rem;
    }

    .nav__icon{
        right: 5rem;
    }

    .nav__link{
        color: var(--text-color);
        font-size: 1.5rem;
    }

    /* hero */
    .hero__img{
        right: -3rem;
        width: 400px;
    }

    /* feature */
    .feature__data{
        grid-template-columns: repeat(3,160px);
    }

    /* product & blog */
    .product__data,
    .blog__data{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .product__card,
    .blog__card{
        width: 280px;
    }

    /* small banner */
    .sm-banner__container{
        grid-template-columns: repeat(2,1fr);
        padding: 0 20px;
    }

    /* newsletter */
    .news__container{
        grid-template-columns:  40% 57%;
    }

    .news__form{
        width: 100%;
        margin-right: 2rem;
    }

}

/* For Larg devices */

@media screen and (min-width: 900px){

    .section__title{
        font-size: 2rem;
    }

    .section__subtitle{
        font-size: .75rem;
    }

    /* menu */
    .menu__container{
        height: 100%;
        width: 30%;
    }

    /* hero */
    .hero__container{
        height: 60vh;
    }

    .hero__data h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .hero__data h1{
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }

    .hero__img{
        width: 350px;
        height: 350px;
        position: absolute;
        right: -3.5rem;
        top: -7rem;
    }

    /* feature */

    .feature__data{
        grid-template-columns: repeat(3,200px);
    }

    /* product & blog */
    .product__data,
    .blog__data{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .product__card,
    .blog__card{
        width: 250px;
        height: auto;
    }

    .blog__img{
        margin-bottom: .5rem;
    }

    /* banner */
    .banner__info h3{
        font-size: 2rem;
    }

    /* small banner */
    .sm-banner__box{
        height: 300px;
    }

    .sm-banner-details{
        margin-right: 2rem;
    }

} 

@media screen and (min-width:1000px){

    /* header */
    .nav__menu{
        visibility: hidden;
        opacity: 0;
    }

    .nav__menu-desktop{
        visibility: visible;
        opacity: 1;
    }

    .nav__icon-desktop{
        visibility: visible;
        opacity: 1;
    }
    .nav__icon{
        visibility: hidden;
        opacity: 0;
    }
    .menu__container{
        visibility: hidden;
        opacity: 0;
    }
    .nav__icon-desktop{
        visibility: visible;
        opacity:1;
    }
    

    /* hero */
    .hero__img{
        width: 420px;
        height: 420px;
        position: absolute;
        right: -9.5rem;
        top: -12rem;
    }

    /* feature */
    .feature__data{
        grid-template-columns: repeat(5,170px);
        gap: 1rem;
    }

    /* product & blog */
    .product__data,
    .blog__data{
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        gap: 1rem;
     }

   
}

@media screen and (min-width:1300px){
    /* feature */
    .feature__data{
        grid-template-columns: repeat(6,170px);
        gap: 1rem;
    }

    /* product & blog */
    .product__data,
    .blog__data{
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: center;
        gap: 1rem;
     }

}
@media screen and (min-width:1400px){
    .container{
        margin:  auto;
        left: 0;
        right: 0;
    }

    .feature__data{
        margin-top: 2rem;
    }

}


/* End Of Home Page */


/* ============ PAGE ABOUT ============*/

.about__banner{
    background-image: url('/img/about/banner.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 59vh;
    width: 100%;
    padding: 1rem;
}

.about__title{
    color: var(--text-color-white);
    font-size: 2rem;
    margin-bottom: 1.25rem ;
}

.about__description{
    color: var(--text-color-white);
    font-size: var(--normal-font-siza);
}

.about__info{
    margin: 3rem 0;
}

.about__data{
    margin: 2rem 0 3rem;
}

.about__data-title{
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
}

.about__app-title{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about__app-video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 ;
}

.about__app-video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Responsive About Paga */

@media screen and (min-width:650px){
    .about__info{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        column-gap: 2rem;
    }
}


/* End of About page */


/* ============ Contact Page ============ */

.contact__banner{
    background-image: url('/img/about/banner.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 59vh;
    width: 100%;
    padding: 1rem;
}

.contact__title{
    color: var(--text-color-white);
    font-size: 2rem;
    margin-bottom: 1.25rem ;
}

.contact__description{
    color: var(--text-color-white);
    font-size: var(--normal-font-siza);
}

.contact-section{
    margin: 3rem 2rem;
}

.contact__data{
    margin-bottom: 1.5rem;
}

.contact__data-title,
.contact__data h1,
.contact__data h3{
    margin-bottom: 1rem;
}

.contact__data-title{
    font-size: var(--small-font-size);
}

.contact__data h1{
    font-size: 1.25rem;
}
.contact__data h3{
    font-size: var(--small-font-size);
    color: #000;
}

.contact__item{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .75rem;
}

.contact__icon{
    color: #000;
    font-weight: 500;
    font-size: 1.15rem;
}

.contact__item p{
    font-size: var(--smaller-font-size) ;
}


/* contact form */

.contact__form-container{
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.form__details p{
    font-size: var(--small-font-size);
    margin-bottom: 1rem ;
}

.form__details h2{
    font-size: 1.25rem;
    margin-bottom: 1rem ;
}

.form__contact-input{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form__contact-input input,
textarea{
    outline: none;
    border: 1px solid #e1e1e1;
    padding: .75rem .75rem;
    font-size: var(--smaller-font-size);
}

textarea{
    height: 20vh;
    resize: none;
}

.form__details button{
    margin-top: 1.5rem;
}

.people{
    margin-top: 1.5rem;
}

.people__data{
    display: flex;
    align-items: flex-start;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.people__data img{
    width: 60px;
}

.people__info h3{
    font-size: var(--small-font-size);
    color: #000;
}

.people__details-item{
    font-size: var(--smaller-font-size);
    margin-bottom: .5rem;
}


/* Responsive Contact Page */
@media screen and (min-width:700px){
    .contact__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

    .contact__icon{
        font-size: 1.5rem;
    }

    .contact__form-container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 5rem;
    }
}

@media screen and (min-width:900px){

    .contact__form-container{
        column-gap: 10rem;
    }
}

/* End of contact Page */

/* ========== SHOP PAGE ============ */
.shop__banner{
    background-image: url('/img/banner/b1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 59vh;
    width: 100%;
    padding: 1rem;
}

.shop__title{
    color: var(--text-color-white);
    font-size: 2rem;
    margin-bottom: 1.25rem ;
}

.shop__description{
    color: var(--text-color-white);
    font-size: var(--normal-font-siza);
}

/* End of shop page */

/* ============ SINGLE PRODUCT PAGE ============ */

.sproduct__container{
    margin-top: 8rem;
}
.main-img{
    width: 100%;
    border-radius: 1rem;

}

.small__img-group{
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    margin-top: 1rem;

}

.small__img-col{
    cursor: pointer;
}


.single-pro__details h6{
    font-size: var(--smaller-font-size);
    color: #000;
    margin-bottom: 2.5rem;
}

.single-pro__details h3{
    font-size: 1.15rem;
    margin-bottom: 2rem;
    color: #000;
}

.single-pro__details h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #000;
}

.single-pro__details select{
    padding: .5rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    border: 1px solid #968f8f;
}

.single-pro__data{
    margin-bottom: 2rem;
}
.single-pro__data input{
    width: 60px;
    padding: 0.5rem 1rem;
    color: #000;
    margin-right: 1rem;
    border-radius: .5rem;
    border: 1px solid #968f8f;
    outline: none;
}

.single-pro__details span{
    color: #000;
    font-size: var(--small-font-size);
    font-weight: 500;
}

/* responsive single product page */

@media screen and (min-width: 700px){
    .sproduct__container{
        grid-template-columns: repeat(2,1fr);
        
    }
}

@media screen and (min-width: 1300px){
    .single-pro__details span{
        font-size: 1rem;
    }
    .single-pro__img,
    .single-pro__details{
        width: 70%;
        margin: 0 auto;
    }
}


/* End of single product page page */


/* ============ BLOG PAGE ============ */

.blog__banner{
    background-image: url('/img/banner/b19.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 59vh;
    width: 100%;
    padding: 1rem;
}

.blog-title{
    color: var(--text-color-white);
    font-size: 2rem;
    margin-bottom: 1.25rem ;
}

.blog-description{
    color: var(--text-color-white);
    font-size: var(--normal-font-siza);
}

/* ============ LOGIN & SIGNUP PAGE ============ */
.form__container{
    background-image: url('/img/about/banner.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form{
    background-color: #f7f7f715;
    width: 320px;
    height: auto;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    
    
}

.form__data{
    margin-top: 2rem;
}

.form__img{
    width: 200px;
    position: absolute;
    top: -2rem;
    left: 6.5rem;
}

.form__data-input{
    position: relative;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 2rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__data-input input{
    font-size: .65rem;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    padding-left: 2rem;
}

.form__icon{
    color: var(--text-color); 
    font-size: .75rem;
    position: absolute;
    top: .75rem;
    left: .75rem;   
}

.form__button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button__signin{
    background-color: #518cdd83;
    font-size: .75rem;
    margin-bottom: 1rem;
}

.button__signup{
    background-color: transparent;
    border: 1px solid #518cdd83;
    font-size: .75rem;
    margin-bottom: 1rem;
    transition: .4s;
}

.button__signup:hover,
.button__signin:hover{
    background-color: #3e7dd483;
}

.forget__pass{
    color: rgba(255, 255, 255, 0.658);
    font-size: var(--tiny-font-size);
}

